In [76]:
#1. Create a list named my_list
my_list = [45.4, 44.2, 36.8,  35.1, 39.0, 60.0,  47.4,  41.1,  45.8, 35.6]

#a.Print the 5th element in the list
print (my_list[4])

39.0

In [77]:
#b.Append 55.2 to my_list
my_list.append(55.2) 
print (my_list)

[45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6, 55.2]

In [78]:
#c. Remove the 6th element in the list
del my_list[5]
print (my_list)

[45.4, 44.2, 36.8, 35.1, 39.0, 47.4, 41.1, 45.8, 35.6, 55.2]

In [79]:
#d. Iterate over the list to print data points greater than 45
x= [x for x in my_list if x >45]
print (x)

[45.4, 47.4, 45.8, 55.2]

In [80]:
#2. Introduction to numpy – 
#a. Import the numpy library
import numpy

In [95]:
#b. Declare numpy array with the same data points as in my_list using numpy.array()
numpylist=numpy.array(my_list)
print(numpy_list)

[ 45.4  44.2  36.8  35.1  39.   47.4  41.1  45.8  35.6  55.2]

In [94]:
#c. Compute the mean and standard deviation using numpy.mean() and numpy.std() of the above array
numpylist_mean=numpy.mean(numpylist)
print(numpylist_mean)

42.56

In [93]:
numpylist_std=numpy.std(numpylist)
print(numpylist_std)

5.9709630714

In [101]:
#d. Use logical referencing to get only those values that are less than 45
numpylist_lessthan45=numpylist[numpylist < 45]
print(numpylist_lessthan45)

[ 44.2  36.8  35.1  39.   41.1  35.6]

In [109]:
#e. Compute the max and min of the array using numpy.max() and numpy.min()
numpylist_max=numpy.max(numpylist)
print(numpylist_max)

55.2
35.1

In [108]:
numpylist_min=numpy.min(numpylist)
print(numpylist_min)

35.1

In [113]:
#3. Introduction to pandas – 
#a. Import the pandas library
import pandas

In [120]:
#b. Read the IRIS dataset into iris using pandas.read_csv().
Iris=pandas.read_csv("Iris.csv")

In [125]:
#c. Using iris.head(), display the head of the dataset
Iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [158]:
#d. Use DataFrame.drop() to drop the id column
Iris_dropId=Iris.drop('Id', 1)
Iris_dropId.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [176]:
#e.Subset dataframe to create a new data frame that includes only the measurements for the setosa species
Iris_setosa= Iris_dropId[Iris_dropId.Species == "Iris-setosa"]

In [178]:
#f. Use DataFrame.describe() to get the summary statistics for setosa species
Iris_setosa.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       50.00000     50.000000      50.000000      50.00000
mean         5.00600      3.418000       1.464000       0.24400
std          0.35249      0.381024       0.173511       0.10721
min          4.30000      2.300000       1.000000       0.10000
25%          4.80000      3.125000       1.400000       0.20000
50%          5.00000      3.400000       1.500000       0.20000
75%          5.20000      3.675000       1.575000       0.30000
max          5.80000      4.400000       1.900000       0.60000

In [175]:
#g. Use DataFrame.groupby() to create grouped data frames by Species and compute summary statistics using DataFrame.describe()
Iris_grouped = Iris_dropId.groupby('Species')
Iris_grouped.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0              5.1           3.5            1.4           0.2      Iris-setosa
1              4.9           3.0            1.4           0.2      Iris-setosa
2              4.7           3.2            1.3           0.2      Iris-setosa
3              4.6           3.1            1.5           0.2      Iris-setosa
4              5.0           3.6            1.4           0.2      Iris-setosa
50             7.0           3.2            4.7           1.4  Iris-versicolor
51             6.4           3.2            4.5           1.5  Iris-versicolor
52             6.9           3.1            4.9           1.5  Iris-versicolor
53             5.5           2.3            4.0           1.3  Iris-versicolor
54             6.5           2.8            4.6           1.5  Iris-versicolor
100            6.3           3.3            6.0           2.5   Iris-virginica
101            5.8           2.7            5.1           1.9   Iris-virginica
102            7.1           3.0            5.9           2.1   Iris-virginica
103            6.3           2.9            5.6           1.8   Iris-virginica
104            6.5           3.0            5.8           2.2   Iris-virginica

In [164]:
Iris_grouped.describe()

                       PetalLengthCm  PetalWidthCm  SepalLengthCm  \
Species
Iris-setosa     count      50.000000     50.000000      50.000000
                mean        1.464000      0.244000       5.006000
                std         0.173511      0.107210       0.352490
                min         1.000000      0.100000       4.300000
                25%         1.400000      0.200000       4.800000
                50%         1.500000      0.200000       5.000000
                75%         1.575000      0.300000       5.200000
                max         1.900000      0.600000       5.800000
Iris-versicolor count      50.000000     50.000000      50.000000
                mean        4.260000      1.326000       5.936000
                std         0.469911      0.197753       0.516171
                min         3.000000      1.000000       4.900000
                25%         4.000000      1.200000       5.600000
                50%         4.350000      1.300000       5.900000
                75%         4.600000      1.500000       6.300000
                max         5.100000      1.800000       7.000000
Iris-virginica  count      50.000000     50.000000      50.000000
                mean        5.552000      2.026000       6.588000
                std         0.551895      0.274650       0.635880
                min         4.500000      1.400000       4.900000
                25%         5.100000      1.800000       6.225000
                50%         5.550000      2.000000       6.500000
                75%         5.875000      2.300000       6.900000
                max         6.900000      2.500000       7.900000

                       SepalWidthCm
Species
Iris-setosa     count     50.000000
                mean       3.418000
                std        0.381024
                min        2.300000
                25%        3.125000
                50%        3.400000
                75%        3.675000
                max        4.400000
Iris-versicolor count     50.000000
                mean       2.770000
                std        0.313798
                min        2.000000
                25%        2.525000
                50%        2.800000
                75%        3.000000
                max        3.400000
Iris-virginica  count     50.000000
                mean       2.974000
                std        0.322497
                min        2.200000
                25%        2.800000
                50%        3.000000
                75%        3.175000
                max        3.800000

In [185]:
#h. Use DataFrame.boxplot() to plot boxplots by Species
Iris_grouped_bloxplots =Iris_grouped.boxplot()

In [186]:
#i.Plot a scatter matrix plot using the seaborn library. Use the following to load and plot 
import seaborn as sns
sns.pairplot(Iris_dropId,hue='Species')